@import url("https://fonts.googleapis.com/css2?family=League+Spartan&display=swap");

:root {
  --pink: #ff8c9a;
  --green: #71bdcc;
  --violet: #b481e1;
  --blue: #5656c4;
  --purple: #a94084;
  --light: rgb(243, 164, 154);
}

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overscroll-behavior: none;
}

html {
  scroll-behavior: smooth;
}

header {
  /* position: sticky;
  top: 0; */
}
body {
  font-family: "League Spartan", sans-serif;
}

section {
  min-height: 80vh;
}

a {
  color: inherit;
  text-decoration: none;
}

nav {
  display: flex;
  justify-content: space-between;
}

.logo {
  padding-left: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  font-size: 2rem;
  font-weight: 300;
}

.main-menu {
  display: flex;
  min-height: 5rem;
}

.main-menu ul {
  display: flex;
  list-style: none;
}

.main-menu a {
  padding: 3rem 1rem;
  transition: 0.1s;
}

.main-menu a:hover {
  color: var(--purple);
}

.menu-items {
  display: flex;
  padding: 0 1rem;
  /*  font-size: 1.2rem; */
  justify-content: center;
  align-items: center;
}

.socials {
  background-color: black;
  color: white;
  padding: 0 1rem;
  display: flex;
  font-size: 1.2rem;
  justify-content: center;
  align-items: center;
}

#mob_button {
  /* display: none; */
}

/* MAIN */

.intro {
  position: absolute;
  bottom: 5vh;
  padding: 2rem;
  display: flex;
}

h1 {
  font-size: 15vh;
  color: white;
  letter-spacing: -0.1rem;
  line-height: 83%;
  /* TODO: add heavy font! */
}

h1 span {
  color: black;
}

.intro p {
  font-size: 2rem;
}

.intro p.before {
  padding: 2rem 0;
}

.intro p.after {
  /* margin-left: 20vw; */
  padding: 2rem 0;
}

/* GRADIENT */

.container {
  height: 80vh;
  width: 100vw;
  position: relative;
  overflow: hidden;
  background-color: var(--blue);
}

.container div {
  position: absolute;
  border-radius: 50%;
  animation: gradient 4s infinite;
}

@keyframes gradient {
  70% {
    transform: scale(1.4) translate(7vw);
  }
}

.container div:nth-child(1) {
  height: 50vw;
  width: 50vw;
  background-color: var(--pink);
  left: -20vw;
  top: -20vw;
}

.container div:nth-child(2) {
  height: 50vw;
  width: 50vw;
  background-color: var(--purple);
  top: -10vh;
  right: 5vh;
  animation-delay: -2s;
}

.container div:nth-child(3) {
  height: 50vw;
  width: 50vw;
  background-color: var(--green);
  bottom: -20vw;
  right: -10vw;
  animation-delay: -3.7s;
}

.container div:nth-child(4) {
  height: 60vw;
  width: 60vw;
  background-color: var(--violet);
  bottom: -10vw;
  left: -30vw;
  animation-delay: -2.8s;
}

.container div:nth-child(5) {
  height: 30vw;
  width: 30vw;
  top: -10vw;
  left: 50vw;
  background-color: var(--light);
  animation-delay: -1s;
}

.container:after {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  backdrop-filter: blur(13vw);
}

/* animated gradient idea credit: Coding Artist */

/* CONTACT */

.contact {
  display: flex;
  flex-wrap: wrap;
}

/* IMAGE */

.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
}

img.me {
  height: 400px;
  width: 400px;
}

/* FORM */

.contact-form-container {
  width: 60%;
  display: flex;
  justify-content: left;
}

input,
button,
textarea {
  font-size: inherit;
  font-family: inherit;
}

textarea,
input {
  border-radius: 5px;
  border: none;
  width: 100%;
  padding: 0.8rem;
  margin: 0.5rem 0;
}

.contact-form {
  margin: 2rem;
  background-color: black;
  color: white;
  border-radius: 35px;
  padding: 3rem;
  max-width: 400px;
}

.contact-form h2 {
  margin: 0 0 2rem;
}
.contact-form form {
}

.contact-form button {
  background-color: var(--purple);
  color: white;
  padding: 1rem 2rem;
  border: none;
  border-radius: 5px;
  float: right;
  cursor: pointer;
}

.contact-form h2 {
  text-align: center;
}

/* FOOTER */

footer {
  background-color: black;
  padding: 0.5rem;
  color: white;
  text-align: center;
}

#back_to_top {
  display: none;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
}

/* MOBILE */
@media (max-width: 800px) {
  nav ul {
    display: none;
  }
  #mob_button {
    background-color: transparent;
    display: block;
    border: none;
    color: white;
    padding: 1rem;
  }
  nav.responsive ul {
    background-color: white;
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
    top: 85px;
  }

  nav.responsive ul li {
    display: block;
  }
  nav.responsive ul li a {
    color: #032330;
  }
}
