* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.grid-container {
  display: grid;
  grid-gap: 0.2rem;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(8, 1fr);
  height: 100vh;
}

.item {
  min-height: 100px;
}

.Stitle {
  background-color: yellow;
  grid-column: 1 / span 3;
}

.nav {
  background-color: lightpink;
}

.Ptitle {
  background-color: lightskyblue;
  grid-column: span 5;
}

.sidebar {
  background-color: orange;
  grid-row: span 2;
}

.meta {
  background-color: aquamarine;
  grid-row: span 5;
}

.content {
  background-color: lightsteelblue;
  grid-column: span 4;
  grid-row: span 2;
}

.ads {
  background-color: greenyellow;
  grid-row: span 2;
}

.image {
  background-color: yellow;
  grid-column: span 4;
  grid-row: span 3;
}

.stuff {
  background-color: violet;
  grid-row: span 2;
}

.footer {
  background-color: tan;
  grid-column: 1 / span 6;
}
