* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}
body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: #333;
}

h2 {
  margin: 2rem 0;
}

.skill span {
  font-size: 5rem;
}

.containter {
  max-width: 1200px;
  margin: 0 auto;
}

#skills {
  min-height: 500px;
}

.skills_group {
  display: flex;
  flex-wrap: wrap;
  margin-top: 3rem;
  justify-content: space-around;
  text-align: center;
}

.skill:nth-child(odd) {
  background-color: lightblue;
}

progress[value] {
  height: 1.5rem;
  background: transparent;
  -webkit-appearance: none;
}

progress[value]::-webkit-progress-bar {
  background-color: lightyellow;
  border-radius: 5px;
}

progress[value]::-webkit-progress-value {
  background-color: lightseagreen;
  border-radius: 5px;
  background-size: 35px 20px;
}

.skill {
  background-color: lightsalmon;
  padding: 2rem;
  border-radius: 4px;
}
